<!-- Header -->
<!-- Top Bar -->
<div class="top-navbar bg-white border-soft-secondary z-1035">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <ul class="list-inline d-flex justify-content-between justify-content-lg-start mb-0">
                    <li class="list-inline-item dropdown mr-3" id="lang-change">
  
                        <a href="javascript:void(0)" class="dropdown-togglepy-2" data-toggle="dropdown"
                            data-display="static">
                            <img src="assets/cliqpack/index_files/en.png" class="mr-2 ls-is-cached lazyloaded"
                                alt="English" height="11">
                            <span>English</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a href="javascript:void(0)" data-flag="en" class="dropdown-item ">
                                    <img src="assets/cliqpack/index_files/en.png" class="mr-1 lazyload"
                                        alt="English" height="11">
                                    <span class="language">English</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="bd" class="dropdown-item ">
                                    <img src="assets/cliqpack/index_files/bd.png" class="mr-1 lazyload"
                                        alt="Bangla" height="11">
                                    <span class="language">Bangla</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="sa" class="dropdown-item ">
                                    <img src="assets/cliqpack/index_files/sa.png" class="mr-1 lazyload"
                                        alt="Arabic" height="11">
                                    <span class="language">Arabic</span>
                                </a>
                            </li>
                        </ul>
                    </li>
  
                    <li class="list-inline-item  mr-3" id="">
                        <a href="javascript:void(0)" class="py-2" data-toggle="dropdown" data-display="static">
                            <span>CliqPack Trusted</span>
                        </a>
                    </li>
                    <li class="list-inline-item  mr-3" id="">
                        <a href="javascript:void(0)" class="py-2" data-toggle="dropdown" data-display="static">
                            <span><img src="assets/cliqpack/index_files/gift-card.png" alt=""> Gift
                                Card</span>
                        </a>
                    </li>
                    <li class="list-inline-item  mr-3" id="">
                        <a href="#" class="py-2" data-toggle="dropdown" data-display="static">
                            <span><img src="assets/cliqpack/index_files/seller.png" alt=""> Became a
                                seller</span>
                        </a>
                    </li>
                </ul>
            </div>
  
            <div class="col-5  col-lg-5 col-md-5 col-sm-12 col-12 text-right d-none d-lg-block">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#" class="py-2 d-inline-block btn cupon-code">Cupon Codes</a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#" class="py-2 d-inline-block ">Help</a>
                    </li>
                    <span>|</span>
                    <li class="list-inline-item mr-3 ml-3">
                        <a href="#" class="py-2 d-inline-block ">FAQs</a>
                    </li>
                    <li class="list-inline-item mr-3 ">
                        <a href="#" class="py-2 d-inline-block "><i class="fa fa-map-marker" aria-hidden="true"></i>
                            Delivery To:10007</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  
  
  <!-- END Top Bar -->
  <header class=" sticky-top  z-1020 shadow-sm">
    <div class="position-relative logo-bar-area">
        <div class="container">
            <div class="d-flex align-items-center">
  
                <div class="col-auto col-xl-3 pl-0 pr-3 d-flex align-items-center">
                    <a class="d-block mr-3 ml-0" href="#">
                        <img src="assets/cliqpack/index_files/header-logo.png" alt=""
                            class="mw-100 h-30px h-md-40px" height="40">
                    </a>
                </div>
                <div class="d-lg-none ml-auto mr-0">
                    <a class="p-2 d-block text-reset" href="javascript:void(0);" data-toggle="class-toggle"
                        data-target=".front-header-search">
                        <i class="las la-search la-flip-horizontal la-2x"></i>
                    </a>
                </div>
  
                <div class="flex-grow-1 front-header-search d-flex align-items-center search-top">
                    <div class="position-relative flex-grow-1">
                        <form action="#" method="GET" class="stop-propagation">
                            <div class="d-flex position-relative align-items-center">
                                <div class="d-lg-none" data-toggle="class-toggle" data-target=".front-header-search">
                                    <button class="btn px-2" type="button"><i
                                            class="la la-2x la-long-arrow-left"></i></button>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="border-0 border-lg form-control" id="search" name="q"
                                        placeholder="What Are You Looking For....." autocomplete="off">
                                    <div class="input-group-append d-none d-lg-block">
                                        <button class="btn btn-search" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="typed-search-box stop-propagation document-click-d-none d-none bg-white rounded shadow-lg position-absolute left-0 top-100 w-100"
                            style="min-height: 200px">
                            <div class="search-preloader absolute-top-center">
                                <div class="dot-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="search-nothing d-none p-3 text-center fs-16">
  
                            </div>
                            <div id="search-content" class="text-left">
  
                            </div>
                        </div>
                    </div>
                </div>
  
                <div class="d-none d-lg-none ml-3 mr-0">
                    <div class="nav-search-box">
                        <a href="#" class="nav-box-link">
                            <i class="la la-search la-flip-horizontal d-inline-block nav-box-icon"></i>
                        </a>
                    </div>
                </div>
  
                <div class="d-none d-lg-block ml-3 mr-0">
                    <div class="" id="wishlist">
                        <a href="#" class="d-flex align-items-center text-reset">
                            <i class="la la-heart-o la-2x opacity-80"></i>
                            <span class="flex-grow-1 ml-1">
                                <span class="badge badge-primary badge-inline badge-pill">0</span>
                                <span class="nav-box-text d-none d-xl-block opacity-70">Wishlist</span>
                            </span>
                        </a>
                    </div>
                </div>
  
                <div class="d-none d-lg-block  align-self-stretch ml-3 mr-0" data-hover="dropdown">
                    <div class="nav-cart-box dropdown h-100" id="cart_items">
                        <a href="javascript:void(0)" class="d-flex align-items-center h-100 cart-sec"
                            data-toggle="dropdown" data-display="static">
                            <i class="la la-shopping-cart la-2x"></i>
                            <span class="flex-grow-1 ml-1">
                                <span class="badge badge-primary badge-inline badge-pill cart-no">0</span>
                                <span class="nav-box-text d-none d-xl-block cart-text">Cart</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg p-0 stop-propagation">
                            <div class="text-center p-3">
                                <i class="las la-frown la-3x opacity-60 mb-3"></i>
                                <h3 class="h6 fw-700">Your Cart is empty</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block ml-3 mr-0 user-login">
                    <div class="" id="user_login">
                        
                        <a [routerLink]="['/login']" *ngIf="!log_val"><i class="la la-user la-2x"></i>Login</a>
                        <a  *ngIf="log_val" (click)="logOut()"><i class="la la-user la-2x"></i>Logout</a>
                    </div>
                </div>
            </div>
  
            <div>
                <ul class="list-inline d-flex  justify-content-end mb-0 home-menu align-items-center">
                    <li class="list-inline-item" id="home">
                        <a href="#" class="py-3">Home</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="#" class="py-3">Featured Product</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="#" class="py-3">Todays Deal</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="javascript:void(0)" class="py-3">Combo offers</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="#" class="py-3">All Brands</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="javascript:void(0)" class="py-3">Offer Zone</a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="javascript:void(0)" class="py-3" data-toggle="dropdown" data-display="static">
                            <button type="button" class="btn btn-one">cMall Sellers</button>
                        </a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="javascript:void(0)" class="py-3" data-toggle="dropdown" data-display="static">
                            <button type="button" class="btn btn-second">Trusted Sellers</button>
                        </a>
                    </li>
                    <li class="list-inline-item" id="home">
                        <a href="javascript:void(0)" class="py-3" data-toggle="dropdown" data-display="static">
                            <img src="assets/cliqpack/index_files/bttn3.png">
                        </a>
                    </li>
                </ul>
            </div>
  
        </div>
    </div>
  </header>
  