<section class="mt-auto payment-list">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 bg-white">
              <a class="text-reset text-center px-4 py-4 d-block h-100" href=" terms">
                  <img src="assets/cliqpack/index_files/footer-1.png" alt="">

                  <h4>100% Secure Payments</h4>
                  <p>Moving your card details to a much more secured place</p>
              </a>
          </div>

          <div class="col-lg-3 col-md-6 bg-white">
              <a class="text-reset border-left text-center  px-4 py-4 d-block h-100" href=" returnpolicy">

                  <img src="assets/cliqpack/index_files/footer-2.png" alt="">
                  <h4>Trustpay</h4>
                  <p>100% payment Protection. Easy Return Policy</p>
              </a>
          </div>

          <div class="col-lg-3 col-md-6 bg-white">
              <a class="text-reset border-left text-center  px-4 py-4 d-block h-100" href=" supportpolicy">

                  <img src="assets/cliqpack/index_files/footer-3.png" alt="">
                  <h4>Help Center</h4>
                  <p>Got aquestion? Look no further. Browse our FAQS or submit your query here.</p>
              </a>
          </div>

          <div class="col-lg-3 col-md-6 bg-white">
              <a class="text-reset border-left text-center px-4 py-4 d-block h-100" href=" privacypolicy">
                  <img src="assets/cliqpack/index_files/footer-4.png" alt="">
                  <h4>Shop On The Go</h4>
                  <p>Download the app and get exciting app only offers at your fingertips</p>

              </a>
          </div>
      </div>
  </div>
</section>


<section class="footer-cont-top pb-0">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">
              <div class="footer-dt">
                  <h4>CliqPack - Final Destination of Shopping</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy
                      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book. It has survived not only five centuries, but also the leap
                      into electronic typesetting, remaining essentially unchanged </p>
              </div>
              <div class="footer-dt">
                  <h4>CliqPack Trusted</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy
                      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book. It has survived not only five centuries, but also the leap
                      into electronic typesetting, remaining essentially unchanged.11</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section footer-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-12">
          <div class="ftr-link">
            <h3 class="footer-sub-head">categories</h3>
  
            <ul>
  
              <li><a href=" category/men" aria-current="page">Men</a></li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Mobile</a></li>
  
  
              <li><a href=" category/women" aria-current="page">Women</a></li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Furniture</a></li>
  
  
              <li><a href=" category/beauty" aria-current="page">Beauty</a></li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Corona/Flue Care</a></li>
  
  
              <li><a href=" category/Home--Kitchen-zRbKq" aria-current="page">Home &amp; Kitchen</a></li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Collectables &amp; fine Arts</a>
              </li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Books</a></li>
  
  
              <li><a href=" category/books-nc5i6" aria-current="page">Mob</a></li>
  
  
              <li><a href=" category/test-ovSgR" aria-current="page">test</a></li>
  
            </ul>
  
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-12">
          <div class="ftr-link">
            <h3 class="footer-sub-head">Useful Links</h3>
            <ul>
              <li><a href="#" aria-current="page">Home</a></li>
              <li><a href=" search" aria-current="page">All Products</a></li>
              <li><a href=" latest-product" aria-current="page">Latest Products</a></li>
              <li><a href=" featured-product" aria-current="page">Featured Products</a></li>
              <li><a href="javascript:void(0);" aria-current="page">Contact</a></li>
              <li><a href=" shops/create" aria-current="page">Become a Seller</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-12">
          <div class="ftr-link">
            <h3 class="footer-sub-head">Useful Links</h3>
            <ul>
              <li><a href="javascript:void(0);" aria-current="page">About Us</a></li>
              <li><a href="javascript:void(0);" aria-current="page">Faq</a></li>
              <li><a href=" terms" aria-current="page">Terms &amp; Condition</a></li>
              <li><a href=" privacypolicy" aria-current="page">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <div class="ftr-link">
            <h3 class="footer-sub-head">Contact Us</h3>
            <h2>CLIQPACK</h2>
            <div class="footer-cont">
              Buildings Alyssa, Begonia &amp;
              Clove Embassy Tech Village,
              Outer Ring Road, Devarabeesanahalli Village,
              Bangladesh, 560103,
              <p><a href="mailto:admin@letslearntelugu.com">support@cliqpack.com</a></p>
              <p>Phone : <a href="tel:1234567890">1234567891</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <div class="ftr-link">
            <h3 class="footer-sub-head">Registered Office Address:</h3>
            <h2>cliqpack</h2>
            <div class="footer-cont">
              <p>Buildings Alyssa, Begonia &amp;<br>
                Clove Embassy Tech Village, <br>
                Outer Ring Road, Devarabeesanahalli Village,<br>
                Bangladesh, 560103,</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bt">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="ftr-link">
              <h3 class="footer-sub-head">Join us on</h3>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/5" target="_blank" rel="noopener noreferrer nofollow"
                class="sk_facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow" class="sk_twitter"><i
                  class="fa fa-twitter"></i></a>
              <a href="https://accounts.google.com/login" target="_blank" rel="noopener noreferrer nofollow"
                class="sk_googleplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="https://in.pinterest.com/login/" target="_blank" rel="noopener noreferrer nofollow"
                class="sk_pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer nofollow" class="sk_youtube"><i
                  class="fa fa-youtube" aria-hidden="true"></i></a>
              <a href="https://www.skype.com/en/" target="_blank" rel="noopener noreferrer nofollow" class="sk_skype"><i
                  class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
            <div class="ftr-link">
              <h3 class="footer-sub-head">Payment Methods</h3>
            </div>
            <div class="payment-method">
              <img src="assets/cliqpack/index_files/payment.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          <div class="copyright-text">
            <p>2021 © All rights reserved @<a href="javascript:void(0);"></a>
              <strong> CliqPack </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section>
  
  
  
  
  
      <!-- FOOTER -->
  
  
  
  
    </section>
  </section>