<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-start">
            
            <div class="aiz-user-sidenav-wrap pt-4 position-relative z-1 shadow-sm">
                <div class="absolute-top-right d-xl-none">
                    <button class="btn btn-sm p-2" data-toggle="class-toggle" data-target=".aiz-mobile-side-nav" data-same=".mobile-side-nav-thumb">
                        <i class="las la-times la-2x"></i>
                    </button>
                </div>
                <div class="absolute-top-left d-xl-none">
                    <a class="btn btn-sm p-2" href="#">
                        <i class="las la-sign-out-alt la-2x"></i>
                    </a>
                </div>

                <div class="aiz-user-sidenav rounded overflow-hidden  c-scrollbar-light">

                <div class="px-4 text-center mb-4">
                    <span class="avatar avatar-md mb-3">
                        <img src="https://dev1.ivantechnology.in/cliqpack/public/uploads/all/Lq41GU3h0PDAg8W2gYo81LhBS83ofja04tNq614K.jpg">
                    </span>

                    <h4 class="h5 fw-600">Mr. Seller
                        <span class="ml-2">
                            <i class="las la-check-circle" style="color:green"></i>
                        </span>
                    </h4>
                </div>

                <div class="sidemnenu mb-3">
                    <ul class="aiz-side-nav-list metismenu" data-toggle="aiz-side-menu">

                        <li class="aiz-side-nav-item mm-active">
                            <a href="#" class="aiz-side-nav-link active" aria-expanded="true">
                                <i class="las la-home aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-file-alt aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Purchase History</span>
                            </a>
                        </li> 

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="la la-heart-o aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Wishlist</span>
                            </a>
                        </li>               

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-money-bill aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Orders</span>
                                <span class="badge badge-inline badge-success">47</span>
                            </a>
                        </li> 

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-star-of-david aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Product Reviews</span>
                                <span class="badge badge-inline badge-success">2</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-cog aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Shop Setting</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-history aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Payment History</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-money-bill-wave-alt aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Money Withdraw</span>
                            </a>
                        </li>                       

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-atom aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Support Ticket</span>
                            </a>
                        </li> 

                        <li class="aiz-side-nav-item">
                            <a href="#" class="aiz-side-nav-link ">
                                <i class="las la-user aiz-side-nav-icon"></i>
                                <span class="aiz-side-nav-text">Manage Profile</span>
                            </a>
                        </li>

                    </ul>
                </div>
                
                <hr>

                <h4 class="h5 fw-600 text-center">Sold Amount</h4>
                <div class="widget-balance pb-3 pt-1">
                    <div class="text-center">
                        <div class="heading-4 strong-700 mb-4">
                            <small class="d-block fs-12 mb-2">Your sold amount (current month)</small>
                            <span class="btn btn-primary fw-600 fs-18">৳3,960.000</span>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="p-1" width="60%">
                                    Total Sold:
                                    </td>
                                    <td class="p-1 fw-600" width="40%">
                                    ৳3,960.000
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1" width="60%">
                                    Last Month Sold:
                                    </td>
                                    <td class="p-1 fw-600" width="40%">
                                    ৳0.000
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
            </div>

            <div class="aiz-user-panel">
                <div class="aiz-titlebar mt-2 mb-4">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="h3">Manage Profile</h1>
                    </div>
                  </div>
                </div>
                <form action="#" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_token" value="VSIghvqGcy9pMup1Tow9iif3pmvkvRSBSyusvJTQ">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 h6">Basic Info</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Your name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Your name" name="name" value="Mr. Seller">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Your Phone</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Your Phone" name="phone" value="01738457162">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Photo</label>
                                <div class="col-md-10">
                                    <div class="input-group" data-toggle="aizuploader" data-type="image">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-soft-secondary font-weight-medium">Browse</div>
                                        </div>
                                        <div class="form-control file-amount">1 File selected</div>
                                        <input type="hidden" name="photo" value="173" class="selected-files">
                                    </div>
                                    <div class="file-preview box sm"><div class="d-flex justify-content-between align-items-center mt-2 file-preview-item" data-id="173" title="420801-2553909.jpg"><div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="https://dev1.ivantechnology.in/cliqpack/public/uploads/all/Lq41GU3h0PDAg8W2gYo81LhBS83ofja04tNq614K.jpg" class="img-fit"></div><div class="col body"><h6 class="d-flex"><span class="text-truncate title">420801-2553909</span><span class="ext">.jpg</span></h6><p>35 KB</p></div><div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button"><i class="la la-close"></i></button></div></div></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Your Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" placeholder="New Password" name="new_password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Confirm Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Address -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 h6">Address</h5>
                        </div>
                        <div class="card-body">
                            <div class="row gutters-10">
                                <div class="col-lg-6">
                                    <div class="border p-3 pr-5 rounded mb-3 position-relative">
                                        <div>
                                            <span class="w-50 fw-600">Address:</span>
                                            <span class="ml-2">kolkata new garia</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Postal Code:</span>
                                            <span class="ml-2">700084</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">City:</span>
                                            <span class="ml-2">Garia</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Country:</span>
                                            <span class="ml-2">India</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Phone:</span>
                                            <span class="ml-2">900328957</span>
                                        </div>
                                        <div class="dropdown position-absolute right-0 top-0">
                                            <button class="btn bg-gray px-2" type="button" data-toggle="dropdown">
                                                <i class="la la-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="https://dev1.ivantechnology.in/cliqpack/addresses/set_default/47">Make This Default</a>
                                                <a class="dropdown-item" href="https://dev1.ivantechnology.in/cliqpack/addresses/destroy/47">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="border p-3 pr-5 rounded mb-3 position-relative">
                                        <div>
                                            <span class="w-50 fw-600">Address:</span>
                                            <span class="ml-2">sdsd</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Postal Code:</span>
                                            <span class="ml-2">700028</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">City:</span>
                                            <span class="ml-2">dum dum</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Country:</span>
                                            <span class="ml-2">India</span>
                                        </div>
                                        <div>
                                            <span class="w-50 fw-600">Phone:</span>
                                            <span class="ml-2">9932899411</span>
                                        </div>
                                        <div class="dropdown position-absolute right-0 top-0">
                                            <button class="btn bg-gray px-2" type="button" data-toggle="dropdown">
                                                <i class="la la-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="https://dev1.ivantechnology.in/cliqpack/addresses/set_default/48">Make This Default</a>
                                                <a class="dropdown-item" href="https://dev1.ivantechnology.in/cliqpack/addresses/destroy/48">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mx-auto" onclick="add_new_address()">
                                    <div class="border p-3 rounded mb-3 c-pointer text-center bg-light">
                                        <i class="la la-plus la-2x"></i>
                                        <div class="alpha-7">Add New Address</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Payment System -->
                    <div class="card">
                      <div class="card-header">
                          <h5 class="mb-0 h6">Payment Setting</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">
                            <label class="col-md-3 col-form-label">Cash Payment</label>
                            <div class="col-md-9">
                                <label class="aiz-switch aiz-switch-success mb-3">
                                    <input value="1" name="cash_on_delivery_status" type="checkbox" checked="">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Bank Payment</label>
                            <div class="col-md-9">
                                <label class="aiz-switch aiz-switch-success mb-3">
                                    <input value="1" name="bank_payment_status" type="checkbox" checked="">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Bank Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control mb-3" placeholder="Bank Name" value="State bank of india" name="bank_name">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Bank Account Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control mb-3" placeholder="Bank Account Name" value="Anirban Paul" name="bank_acc_name">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Bank Account Number</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control mb-3" placeholder="Bank Account Number" value="123456789876543" name="bank_acc_no">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Bank Routing Number</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control mb-3" placeholder="Bank Routing Number" value="2147483647" name="bank_routing_no">
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-0 text-right">
                      <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </form>
                <br>
                <form action="#" method="POST">
                    <input type="hidden" name="_token" value="VSIghvqGcy9pMup1Tow9iif3pmvkvRSBSyusvJTQ">                    
                    <div class="card">
                      <div class="card-header">
                          <h5 class="mb-0 h6">Change your email</h5>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-2">
                                  <label>Your Email</label>
                              </div>
                              <div class="col-md-10">
                                  <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Your Email" name="email" value="seller@example.com">
                                    <div class="input-group-append">
                                       <button type="button" class="btn btn-outline-secondary new-email-verification">
                                           <span class="d-none loading">
                                               <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Sending Email...
                                           </span>
                                           <span class="default">Verify</span>
                                       </button>
                                    </div>
                                  </div>
                                  <div class="form-group mb-0 text-right">
                                      <button type="submit" class="btn btn-primary">Update Email</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>